/* Dialog
----------------------------------*/

#create_volume_dialog table tr td {
	padding: 3px 10px;
}

#launch_instance_dialog table tr td {
  padding: 5px 10px;
}

#launch_instance_dialog #view_image_id {
  padding-left: 0px;
}
