/* Dialog
----------------------------------*/

#create_volume_dialog table tr td {
	padding: 3px 10px;
}

#edit_volume_dialog table tr td {
	padding: 3px;
}

#create_network_dialog table tr td {
	padding: 3px 10px;
}

#edit_network_dialog table tr td {
	padding: 3px;
}

#launch_instance_dialog table tr td {
  padding: 5px 10px;
}

#delete_backup_image_dialog table {
	margin: 10px;
}

#delete_backup_image_dialog table tr td {
	padding: 3px;
}

#attach_volume_dialog table tr td {
	padding: 3px 10px;
}

#attach_volume_dialog table tr td.border {
        padding: 3px 10px;
        border-bottom: 1px solid #cccccc;
}

#launch_instance_dialog #view_image_id {
  padding-top: 2px;
  padding-right: 4px;
}

#left_select_list {
	width: 200px;
	height: 190px;
}

#right_select_list {
	width: 200px;
	height: 190px;
}

#select_dhcp_ranges {
	width: 200px;
	height: 190px;
}

#create_ssh_keypair_dialog table tr td {
	padding: 3px;
}

#create_and_edit_ssh_keypair_dialog table tr td {
	padding: 3px;
}

#create_and_edit_ssh_keypair_dialog #display_name{
  float: right;
  height: 10px;
}

#create_and_edit_ssh_keypair_dialog #description{
  float: right;
  height: 11px;
}

#create_and_edit_ssh_keypair_dialog #public_key{
  float: right;
  height: 200px;
}

#create_and_edit_ssh_keypair_dialog #ssh_public_key {
  width: 335px;
  height: 200px;
  margin: 2px;
}

#delete_ssh_keypair_dialog table {
	margin: 10px;
}

#delete_ssh_keypair_dialog table tr td {
	padding: 3px;
}

#launch_instance_dialog #manipulation {
  vertical-align: middle;
}

#edit_instance_dialog #manipulation {
  vertical-align: middle;
}

#edit_instance_dialog fieldset.with_border {
  border: 1px solid gray;
  padding: 10px;
  //margin-left: 15px;
  width: 490px;
  margin-top: 8px;
}

#edit_instance_dialog legend {
  padding: 0 3px 0 3px;
}

#edit_instance_dialog table tr td {
  padding: 5px 10px;
}

#launch_instance_dialog fieldset.with_border {
  border: 1px solid gray;
  padding: 10px;
  margin-left: 15px;
  width: 490px;
}

#launch_instance_dialog legend {
  padding: 0 3px 0 3px;
}

#launch_instance_dialog #security_group_field {
  margin-top: 15px;
}

#launch_instance_dialog #security_group_field table tr th {
  text-align: center;
}

#dc_network_field {
  border: 1px solid gray;
  padding: 10px;
  margin-top: 15px;
  margin-left: 15px;
  width: 490px;
}

#dhcp_field {
  border: 1px solid gray;
  padding: 10px;
  margin-top: 15px;
  margin-left: 15px;
  width: 490px;
}

#network_services_field {
  border: 1px solid gray;
  padding: 10px;
  margin-top: 15px;
  margin-left: 15px;
  width: 490px;
}

#edit_machine_image_dialog table tr td {
        padding: 3px;
}

#create_backup_dialog #create_backups {
  padding-top: 10px;
}

#delete_security_group_dialog table {
	margin: 10px;
}

#delete_security_group_dialog table tr td {
	padding: 3px;
}

#terminate_instances_dialog table {
	margin: 10px;
}

#terminate_instances_dialog table tr td {
	padding: 3px;
}

#terminate_instances_dialog table tr td.border {
	padding: 3px;
	border-bottom: 1px solid #cccccc;
}

#reboot_instances_dialog table {
	margin: 10px;
}

#reboot_instances_dialog table tr td {
	padding: 3px;
}

#reboot_instances_dialog table tr td.border {
	padding: 3px;
	border-bottom: 1px solid #cccccc;
}

#stop_instances_dialog table {
	margin: 10px;
}

#stop_instances_dialog table tr td {
	padding: 3px;
}

#stop_instances_dialog table tr td.border {
	padding: 3px;
	border-bottom: 1px solid #cccccc;
}

#start_instances_dialog table {
	margin: 10px;
}

#start_instances_dialog table tr td {
	padding: 3px;
}

#start_instances_dialog table tr td.border {
	padding: 3px;
	border-bottom: 1px solid #cccccc;
}

#delete_volume_dialog table {
        margin: 10px;
}

#delete_volume_dialog table tr td {
        padding: 3px 10px;
}

#delete_volume_dialog table tr td.border {
        padding: 3px 10px;
        border-bottom: 1px solid #cccccc;
}

#create_backup_dialog table {
        margin: 10px;
}

#create_backup_dialog table tr td {
        padding: 3px 10px;
}

#create_backup_dialog table tr td.border {
        padding: 3px 10px;
        border-bottom: 1px solid #cccccc;
}

#edit_backup_dialog table {
        margin: 10px;
}

#edit_backup_dialog table tr td {
        padding: 3px;
}

#detach_volume_dialog table {
        margin: 10px;
}

#detach_volume_dialog table tr td {
        padding: 3px 10px;
}

#detach_volume_dialog table tr td.border {
        padding: 3px 10px;
        border-bottom: 1px solid #cccccc;
}

#create_volume_from_backup_dialog table {
	margin: 10px;
}

#create_volume_from_backup_dialog table tr td{
        padding: 3px 10px;
}

#create_volume_from_backup_dialog table tr td.border {
        padding: 3px 10px;
        border-bottom: 1px solid #cccccc;
}

#delete_backup_dialog table {
        margin: 10px;
}

#delete_backup_dialog table tr td {
        padding: 3px 10px;
}

#delete_backup_dialog table tr td.border {
        padding: 3px 10px;
        border-bottom: 1px solid #cccccc;
}

#create_load_balancer_dialog table tr td{
  text-align: center;
}

#create_load_balancer_dialog #certificate_group legend {
  padding: 0 3px 0 3px;
}

#create_load_balancer_dialog #sticky_session_grouplegend {
  padding: 0 3px 0 3px;
}

#create_load_balancer_dialog .field {
  padding-top :5px;
  padding-bottom :5px;
}

#create_load_balancer_dialog .header {
  text-align: center;
  padding-top: 6px;
}

#create_load_balancer_dialog .title {
  text-align: left;
}

#create_load_balancer_dialog #load_balancer_protocol {
  width: 80px;
}

#create_load_balancer_dialog #instance_protocol {
  width: 80px;
}

#create_load_balancer_dialog .setting_title {
  padding-top: 20px;
  padding-left: 2px;
  padding-bottom: 2px;
  text-align: left;
}

#create_load_balancer_dialog #balance_algorithm_header {
  padding-left: 3px;
}

#create_load_balancer_dialog #balance_algorithm_selector {
  padding-left: 10px;
  padding-top: 3px;
}

#create_load_balancer_dialog .setting_field {
  padding-left:10px;
}

#create_load_balancer_dialog #sticky_session{
  padding-top: 15px;
  width: 500px;
}

#create_load_balancer_dialog table {
  text-align: "right";
}

