/* Dialog
----------------------------------*/

#create_volume_dialog table tr td {
	padding: 3px 10px;
}

#launch_instance_dialog table tr td {
  padding: 5px 10px;
}

#launch_instance_dialog #view_image_id {
  padding-top: 2px;
  padding-right: 4px;
}

#launch_instance_dialog #left_select_list {
	width: 200px;
	height: 190px;
}

#launch_instance_dialog #right_select_list {
	width: 200px;
	height: 190px;
}