#!/usr/bin/make -f
#

include /usr/share/cdbs/1/rules/debhelper.mk

install/wakame-init::
	install -pd $(DEB_DESTDIR)/etc/default
	install -pd $(DEB_DESTDIR)/etc/init
	install -pm 644 ubuntu/14.04/default/wakame-init                     $(DEB_DESTDIR)/etc/default/
	install -pm 644 ubuntu/14.04/init/wakame-init.conf                   $(DEB_DESTDIR)/etc/init/
	install -pm 755 ubuntu/14.04/wakame-init                             $(DEB_DESTDIR)/etc/

