<!--
 Copyright (c) 2010 axsh co., LTD.
 All rights reserved.

 Author: Takahisa Kamiya

 Redistribution and use in source and binary forms, with or without
 modification, are permitted provided that the following conditions
 are met:
 1. Redistributions of source code must retain the above copyright
    notice, this list of conditions and the following disclaimer.
 2. Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimer in the
    documentation and/or other materials provided with the distribution.

 THIS SOFTWARE IS PROVIDED BY THE AUTHOR AND CONTRIBUTORS ``AS IS'' AND
 ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 ARE DISCLAIMED.  IN NO EVENT SHALL AUTHOR OR CONTRIBUTORS BE LIABLE
 FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
 OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
 HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
 LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
 OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
 SUCH DAMAGE.
-->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Login</title>
<style type=text/css>
body{
  margin:0 auto;
  width:  100%;
  height: 100%;
}
#FormPanel{
  position: absolute;
  margin:0 auto;
  top:    30%;
  left:   30%;
}
</style>
<link rel="stylesheet" type="text/css" href="/javascripts/ext-js/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="/wakame.css" />
<script type="text/javascript" src="/javascripts/ext-js/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="/javascripts/ext-js/ext-all-debug.js"></script>
<script type="text/javascript" src="/javascripts/wakame-gui/<%=@selector%>/index.js"></script>
</head>
<body>
<div id="FormPanel"></div>
</body>
</html>
