worker_processes  1;
user root root;

error_log   /dev/stdout;

events {
  worker_connections  1024;
}

http {
  default_type  application/octet-stream;

  access_log   /dev/stdout;

  client_max_body_size    999999g; # Allows enough size to test image file upload.
  client_body_buffer_size 3m;      # For speed up image file uploading.

  sendfile       on;
  tcp_nopush     on;

  keepalive_timeout  65;
  tcp_nodelay        on;

  gzip  on;

  server {
    listen       8080;
    server_name  0.0.0.0;

    error_page  404  /404.html;

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;

    # Real one.
    location ~* ^/api/(.*) {
      set \$name \$1;
      rewrite ^(.*)$ /auth/\$name break;

      proxy_pass http://127.0.0.1:3000;
      proxy_intercept_errors on;
      proxy_redirect          off;
      proxy_set_header        X-Real-IP       \$remote_addr;
      proxy_set_header        X-Forwarded-For \$proxy_add_x_forwarded_for;
      proxy_connect_timeout   1;
      proxy_send_timeout      90;
      proxy_read_timeout      90;
      proxy_buffers           32 4k;
    }

    # Reproxy to dcmgr.
    location ~* ^/dcmgr_cmd/(.*) {
      internal;
      set \$name \$1;
      rewrite ^(.*)$ /api/\$name break;
      proxy_pass http://127.0.0.1:9001;
    }

    location /images/ {
      root ${vdc_data}/;
      dav_methods PUT DELETE MKCOL COPY MOVE;
      dav_access  group:rw  all:r;
    }

  }
}
