#------------------------
# Configuration file for dcmgr, metadata and collector.
#------------------------

# Database connection string
database_url 'mysql://localhost/dcmgr?user=root'
# AMQP broker to be connected.
amqp_server_uri 'amqp://192.168.2.25/'

# UUID for shared host pool.
default_shared_host_pool 'tag-xxxxxxxx'

# UUID for shared network pool.
default_shared_network_pool 'tag-xxxxxxxx'

# system wide limit size in MB for creating new volume.
# (not affect at cloning from snapshot)
create_volume_max_size 3000
create_volume_min_size 10

