#------------------------
# Configuration file for dcmgr, metadata and collector.
#------------------------

# Database connection string
database_url 'mysql://localhost/wakame_dcmgr?user=root'
# AMQP broker to be connected.
amqp_server_uri 'amqp://localhost/'

# UUID for shared host pool or group.
default_shared_host_pool 'tag-shhost'

# UUID for shared network pool or group.
default_shared_network_pool 'tag-shnet'

# UUID for shared storage pool or group.
default_shared_storage_pool 'tag-shstor'

# system wide limit size in MB for creating new volume.
# (not affect at cloning from snapshot)
create_volume_max_size 3000
create_volume_min_size 10

# Default account quota limit
account_instance_total_weight 100.0
account_volume_total_size 100000 # 100GB
