---
local:
  driver: "local"
  display_name: "Local Store"
s3:
  driver: "s3"
  display_name: "Amazon S3"
  bucket: ""
  access_key: ""
  secret_key: ""
ifs:
  driver: "ifs"
  display_name: "Indelible FS"
  bucket: "127.0.0.1:8090"
  access_key: ""
  secret_key: ""
