<style type="text/css">
	#create_user_dialog div {
		padding-top :5px;
		padding-bottom :5px;
	}
       .valid-error { color: Red; }

</style>
<div id="create_group_dialog">
<form id="fm">
<table>
        <tr>
    		<td><%= t("dialog.create_and_edit_group.name") %>: </td>
                <td>
			<input type="text" id="group_name" name="group_name" size="20">
                </td>
        </tr>
        
	<input type="hidden" id="user_uuid" value="<%= @user_uuid %>">
</table>
	<p><%= t("dialog.create_and_edit_group.description") %>: </p>
        <p>
		<textarea id="description" name="description" cols="10" rows=3 style="width:442px;height:100px" ></textarea>
        </p>

	<input type="hidden" id="enable" value="1">
</form>
</div>
