<div id="informationarea">
	<div class="title clearfix">
		<h3>Information</h3>
		<a href="#"><img src="images/icon_rss.gif" width="20" height="20" /></a>
	</div>
	<ul>
		<li>
			<h4 class="date">2010年10月29日</h4>
			<p>新機能の提供を開始しました。<br />
				・GUIの提供<br />
				・KVM対応<br />
				・EBSとしてZFS対応<br />
				・セキュリティグループ対応<br />
			</p>
		</li>
	</ul>
</div>