<div id="informationarea">
	<div class="title clearfix">
		<h3>Information</h3>
		<a href="#"><img src="images/icon_rss.gif" width="20" height="20" /></a>
	</div>
	<ul>
		<li>
			<h4 class="date">2010年08月10日</h4>
			<p>新機能の提供を開始しました。<br />
				・プレミアムサポート機能の追加<br />
				・料金明細サービスの追加<br />
				・ニフティクラウドAPI（クローズドβ版）
			</p>
		</li>
		<li>
			<h4 class="date">2010年07月29日</h4>
			<p>【障害】7月29日14:30～15:45の間、ハードウェアトラブルのため、一部のサーバーにおきまして操作（起動・停止等）が行えない状態、コントロールパネルにアクセスしづらい状態が発生しておりました。ご利用のお客様にはご迷惑をおかけいたしまして誠に申し訳ございません。
			</p>
		</li>
		<li>
			<h4 class="date">2010年07月29日</h4>
			<p>【メンテナンスのお知らせ】以下の日時において、機能追加にともなうメンテナンスを実施いたします。該当時間帯コントロールパネルへのアクセスができません。（サーバーの作成、停止、削除などの操作ができなくなります。）なお、作成したサーバーの動作に影響はございません。<br />
				<strong>日時：8月10日（火）15:00～16:00</strong>
			</p>
		</li>
	</ul>
</div>