<div id="notification">
  <div class="title clearfix">
    <h3><%= t("notification.header") %></h3>
    <div class="maincontent">
      <ul id="notifications">
      <% @notifications.each do |notification| %>
      <li><b><%= notification.title %></b><hr /><%= notification.article %></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
