<h3><img src="images/icon_service.gif" />Service Health</h3>
<div class="maincontent">
	<ul class="health">
		<li class="clearfix">
			<div class="eachservice">
				<h4><img src="images/icon_health.gif" width="20" height="20" />Wakame-vdc (US East - N. Virginia)</h4>
				<p>Details: Service is operating normally</p>
			</div>
			<a href="#" class="health_detail">health details</a>
		</li>
		<li class="clearfix">
			<div class="eachservice">
				<h4><img src="images/icon_caution.gif" width="20" height="20" />Wakame-vdc (US East - N. Virginia)</h4>
				<p>Details: <span class="text_orange">Performance issues - hogehoge</span></p>
			</div>
			<a href="#" class="health_detail">health details</a>
		</li>
		<li class="clearfix">
			<div class="eachservice">
				<h4><img src="images/icon_stop.gif" width="20" height="20" />Wakame-vdc (US East - N. Virginia)</h4>
				<p>Details: <span class="text_red">Service disruption - foobar</span></p>
			</div>
			<a href="#" class="health_detail">health details</a>
		</li>
	</ul>
</div>
<div class="btm_maincontent mbt0"></div>