<div class="navbar navbar-inverse navbar-fixed-top" id="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">Wakame-VDC Admin</a>
      <div class="nav" style="height: 0px;">
        <ul class="nav">
          <li><a href="/notifications">ホーム</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" id="dLabel" data-toggle="dropdown" data-target="#" href="#">お知らせ</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="margin-left: 13px">
              <li><a href="/notifications/new">作成</a></li>
            </ul>
          </li><!--/.dropdown-->
          <li class="dropdown">
            <a class="dropdown-toggle" id="dLabel" data-toggle="dropdown" data-target="#" href="#">一覧</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="margin-left: 13px">
              <li><a href="/notifications">お知らせ</a></li>
              <li><a href="/instances">インスタンス</a></li>
              <li><a href="/users">ユーザー</a></li>
              <li><a href="/host_nodes">ホストノード</a></li>
	      <li><a href="/load_balancers">ロードバランサ</a></li>
              <li><a href="/text_logs">ログ</a></li>
            </ul>
          </li><!--/.dropdown-->
        </ul><!--/.nav -->
      </div><!--/.nav -->
    </div>
  </div>
</div>
