<div class="navbar navbar-inverse navbar-fixed-top" id="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">Wakame-VDC Admin</a>
      <div class="nav" style="height: 0px;">
        <ul class="nav">
          <li><a href="/notifications">ホーム</a></li>

          <li class="dropdown">
          <a class="dropdown-toggle" id="dLabel" data-toggle="dropdown" data-target="#" href="#">一覧</a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="margin-left: 13px">
            <li><a href="/notifications">お知らせ</a></li>
            <li><a href="/instances">インスタンス</a></li>
            <li><a href="/users">ユーザー</a></li>
            <li><a href="/host_nodes">ホストノード</a></li>
          </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
