<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">メニュー</li>
      <li><a href="/notifications/new">お知らせ登録</a></li>
      <li><a href="/notifications">お知らせ検索</a></li>
      <li><a href="/instances">インスタンス一覧</a></li>
      <li><a href="/users">ユーザ一覧</a></li>
      <li><a href="/host_nodes">ホストノード一覧</a></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->