Source: wakame-vdc
Section: unknown
Priority: extra
Maintainer: Axsh Co. LTD <dev@axsh.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: axsh.jp

Package: wakame-vdc
Architecture: amd64 
Depends: ${misc:Depends}
Recommends: iplist
Pre-Depends: ethtool,wget,screen,openssh-server,openssh-client,ruby,rubygems1.8 (>= 1.3.7),ruby-dev,libopenssl-ruby1.8,rdoc1.8,irb1.8,g++,curl,libcurl4-openssl-dev,mysql-server,mysql-client, libmysqlclient16-dev,rabbitmq-server,qemu-kvm,kvm-pxe,iptables,ebtables,ubuntu-vm-builder,dnsmasq,open-iscsi,open-iscsi-utils,nginx,libxml2-dev,libxslt1-dev,tgt,flog,ipcalc
Description: The wakame virtual data center.
 <insert long description, indented with spaces>

