#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

#%:
#	dh $@

ruby_ver := 1.9.2-p290

CFLAGS := -fno-strict-aliasing
CXXFLAGS := -fno-strict-aliasing
# configure options set by ruby-build
CONFIGURE_OPTS := --disable-install-doc --enable-frame-address --enable-pthread --enable-ipv6 --with-bundled-sha1 --with-bundled-md5 --with-bundled-rmd160 --enable-rpath
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
        CFLAGS += -g -O0
	CXXFLAGS += -g -O0
else
        CFLAGS += -g -O0
	CXXFLAGS += -g -O0
endif
export CFLAGS CXXFLAGS CONFIGURE_OPTS

PATH := $(CURDIR)/ruby/bin:${PATH}
export PATH

# unset GEM_HOME and GEM_PATH
unexport GEM_HOME GEM_PATH

build: build-stamp

build-stamp:
	dh_testdir
	git clone https://github.com/sstephenson/ruby-build.git
	(cd $(CURDIR)/ruby-build; ./bin/ruby-build $(ruby_ver) $(CURDIR)/ruby)
	gem install bundler rake --no-rdoc --no-ri
	(cd $(CURDIR)/dcmgr && bundle install --path vendor/bundle)
	(cd $(CURDIR)/frontend/dcmgr_gui && bundle install --path vendor/bundle)
	touch $@
clean:
	dh_testdir
	#dh_testroot
	dh_prep
	dh_clean
	(cd $(CURDIR)/dcmgr/ && rm -rf vendor/bundle)
	(cd $(CURDIR)/frontend/dcmgr_gui/ && rm -rf vendor/bundle)
	rm -rf $(CURDIR)/ruby-build $(CURDIR)/ruby $(CURDIR)/tmp

install: build
	dh_testdir
	dh_testroot
	#dh_clean
	dh_installdirs
	dh_install
	# force to rewrite path info in text files.
	fgrep -m 1 -r $(CURDIR) $(CURDIR)/debian/wakame-vdc | \
	  grep -v '^Binary file' | \
	  awk -F: '{print $$1}' | \
	  while read -r i; do \
	    echo $$i; \
	    cp -p $$i $$i.sed ;\
	    sed -e 's|$(CURDIR)|/usr/share/axsh/wakame-vdc|g' < $$i > $$i.sed ;\
	    mv $$i.sed $$i ;\
	  done
	# clean conf files from base package
	rm -f $(CURDIR)/debian/wakame-vdc/usr/share/axsh/wakame-vdc/dcmgr/config/*.conf
	rm -f $(CURDIR)/debian/wakame-vdc/usr/share/axsh/wakame-vdc/dcmgr/config/*.yml
	rm -f $(CURDIR)/debian/wakame-vdc/usr/share/axsh/wakame-vdc/frontend/dcmgr_gui/config/*.yml

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	# just for intsall *.default files.
	dh_installinit --no-start --no-restart-on-upgrade
	dh_link
	#dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps -Xpsych.so
	# overwrite RPATH in binaries.
	# chrpath exits non-zero value if fails to replace RPATH. it can be ignored.
	find $(CURDIR)/debian/wakame-vdc/ -type f -name "*.so" | \
	  while read -r i; do \
	    (file -b "$$i" | grep -q '^ELF ' > /dev/null) && chrpath --replace /usr/share/axsh/wakame-vdc/ruby/lib "$$i" || : ;\
	  done
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
