<div id="mainarea" class="grid2">
	<h3><img src="images/icon_resource.gif" />My Resource</h3>
	<div class="maincontent">
		<p class="lead">You are using the following Wakame-vdc resources in the US East (Virginia) region:</p>
		<a href="#" class="refresh">refresh</a>
		<ul class="resource clearfix">
			<li><img src="images/icon_resource01.gif" width="20" height="20" /><a href="#">0 Running Instances</a></li>
			<li><img src="images/icon_resource02.gif" width="20" height="20" /><a href="#">0 Machine Images</a></li>
		</ul>
		<ul class="resource clearfix">
			<li><img src="images/icon_resource03.gif" width="20" height="20" /><a href="#">0 Volumes</a></li>
			<li><img src="images/icon_resource03.gif" width="20" height="20" /><a href="#">0 Snapshots</a></li>
		</ul>
		<ul class="resource clearfix">
			<li><img src="images/icon_resource04.gif" width="20" height="20" /><a href="#">0 Security Groups</a></li>
			<li><img src="images/icon_resource04.gif" width="20" height="20" /><a href="#">0 Key Pairs</a></li>
		</ul>
		<div class="spacer20"></div>
		<div class="spacer20"></div>
		<div class="spacer20"></div>
		<div class="spacer20"></div>
		<div class="spacer20"></div>
		<div class="spacer20"></div>
		<div class="spacer20"></div>
		<div class="spacer20"></div>
	</div>
	<div class="btm_maincontent mbt10"></div>
</div>
<%= render :partial => 'layouts/informationarea'%>