<div id="mainarea" class="grid2">
	<h3><img src="images/icon_resource.gif" />My Resource</h3>
	<div class="maincontent">
		<p class="lead">You are using the following Wakame-vdc resources in the US East (Virginia) region:</p>
		<a href="#" class="refresh">refresh</a>
		<ul class="resource clearfix">
			<li><img src="images/icon_resource01.gif" width="20" height="20" /><a href="#">0 Running Instances</a></li>
			<li><img src="images/icon_resource02.gif" width="20" height="20" /><a href="#">0 Machine Images</a></li>
		</ul>
		<ul class="resource clearfix">
			<li><img src="images/icon_resource03.gif" width="20" height="20" /><a href="#">0 Volumes</a></li>
			<li><img src="images/icon_resource04.gif" width="20" height="20" /><a href="#">0 Key Pairs</a></li>
		</ul>
		<div class="spacer20"></div>
	</div>
	<div class="btm_maincontent mbt10"></div>
	<h3><img src="images/icon_service.gif" />Service Health</h3>
	<div class="maincontent">
		<ul class="health">
			<li class="clearfix">
				<div class="eachservice">
					<h4><img src="images/icon_health.gif" width="20" height="20" />Wakame-vdc (US East - N. Virginia)</h4>
					<p>Details: Service is operating normally</p>
				</div>
				<a href="#" class="health_detail">health details</a>
			</li>
			<li class="clearfix">
				<div class="eachservice">
					<h4><img src="images/icon_caution.gif" width="20" height="20" />Wakame-vdc (US East - N. Virginia)</h4>
					<p>Details: <span class="text_orange">Performance issues - hogehoge</span></p>
				</div>
				<a href="#" class="health_detail">health details</a>
			</li>
			<li class="clearfix">
				<div class="eachservice">
					<h4><img src="images/icon_stop.gif" width="20" height="20" />Wakame-vdc (US East - N. Virginia)</h4>
					<p>Details: <span class="text_red">Service disruption - foobar</span></p>
				</div>
				<a href="#" class="health_detail">health details</a>
			</li>
		</ul>
	</div>
	<div class="btm_maincontent mbt0"></div>
</div>
<%= render :partial => 'layouts/informationarea'%>