<div class="span9">
  <div id="notification_index_search"></div>
  <p><b>検索条件</b></p>
  <form class="well form-query">
  <div class="control-group">
    <div class="control-group">
      <label class="control-label">対象</label>
      <label class="radio">
        <input type="radio" name="optionsUsers" id="optionsUsers1" value="" placeholder="" checked>全ユーザー
      </label>

      <div class="control form-search">
        <label class="radio">
          <input type="radio" name="optionsUsers" id="optionsUsers2" value="" placeholder="">
          <div class="controls">
            指定ユーザー<input class="input-menium" id="users" type="text" name="" value="" placeholder="">
          </div>
        </label>
      </div>
    </div>

    <div class="control-group form-inline">
      <div class="controls">
        <label class="control-label">掲載期間</label>
        <div class="controls">
          <input type="text" name="publish_date_to" value="" placeholder="2012/01/01 00:00:00" style="text-align:right; width:120px" maxlength="19"> ~
          <input type="text" name="publish_date_from" value="" placeholder="2012/01/01 00:00:00" style="text-align:right; width:120px" maxlength="19">
          </div>
      </div>
    </div>

    <div class="control-group">
      <div class="controls" style="text-align:right">
        <button type="submit" class="btn" {{action "submit" on="click"}}>検索</button>
      </div>
    </div>
  </div>
  </form>

  <div id="notification_index_list">
    <hr>
    <p><b>検索結果</b></p>
    <table id="notification-list" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ユーザーID</th>
        <th>掲載期間</th>
        <th>タイトル</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
      <tr>
        <td>ABCDE</td>
        <td>2012/01/01 ~ 2012/01/02</td>
        <td><a href="/notifications/edit">Title<a></td>
        <td><a href="#" class="btn" data-toggle='modal' data-target="#destroyNotification">削除</a>
        </td>
      </tr>
    </table>
    </tbody>

    <div class="modal hide" id="destroyNotification">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>お知らせ削除</h3>
      </div>
      <div class="modal-body">
        <p>お知らせを削除します。よろしいですか？</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">キャンセル</a>
        <a id="actionDestoy" href="#" class="btn btn-primary" data-dismiss="modal">削除</a>
      </div>
    </div>

    <div class="pagination pagination-centered">
      <ul>
        <li><a href="#">前へ</a></li>
        <li class="active">
          <a href="#">1</a>
        </li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li class="disabled"><a href="#">...</a></li>
        <li><a href="#">11</a></li>
        <li><a href="#">次へ</a></li>
      </ul>
    </div>
    <button class="btn" {{action "hoge" on="click"}}>click</button>
  </div>
</div>
