<% content_for :javascript_link_tags do %>
<%= javascript_include_tag ['/assets/moment.min.js',
                            '/assets/bootstrap-notify.js',
                            '/assets/admin/models/notification.js',
                            '/assets/admin/views/notification_create_view.js',
                            '/assets/admin/controllers/notifications/create_controller.js',
]
%>
<% end %>

<% content_for :stylesheet_link_tags do %>
<%= stylesheet_link_tag ['/assets/bootstrap-notify.css',
                         '/assets/smoothness/jquery-ui-1.8.23.custom.css',
                         '/assets/jquery-ui-timepicker-addon.css'
] %>
<% end %>

<div class="span9">
<div id="content"></div>
<script type="text/template" id="createNotification">
  <div id="notify" class='notifications top-right'></div>
  <form action="#" method="POST" class="well form-query">
  <div class="control-group">
    <legend>お知らせ新規登録</legend>
  </div>
  <div class="control-group">
    <div class="control-group">
      <label class="control-label">対象</label>

      {% if(is_confirmed) { %}
      全ユーザー
      {% } else { %}
      <label class="radio">
        <input type="radio" name="users" id="option_user_all" value="all" placeholder="" {{user_all_checked}}>全ユーザー
      </label>
      <div class="control form-search">
        <label class="radio">
          <input type="radio" name="users" id="option_users" value="any" placeholder="" {{user_any_checked}}>
          指定ユーザー
          <div class="controls" id="control_option_users">
            <textarea class="input-xlarge" id="input_users" name="input_users" rows="5">{{users}}</textarea>
          </div>
        </label>
      </div>
      {% } %}
    </div>

    <div class="control-group form-inline">
      <div class="controls">
        <label class="control-label">掲載期間</label>
        {% if(is_confirmed) { %}
        <div class="controls">
        {{ publish_date_from }} ~ {{ publish_date_to }}
        </div>
        {% } else { %}
        <span class="input-prepend">
          <input class="span10" type="text" id="publish_date_from" name="publish_date_from" value="{{publish_date_from}}" placeholder="">
          <span class="add-on" id="icon_publish_date_from"><i class="icon-calendar"></i></span>
        </span>
        <span style="margin:10px;">~</span><span class="input-prepend">
          <input class="span10" type="text" id="publish_date_to" name="publish_date_to" value="{{publish_date_to}}" placeholder="">
          <span class="add-on" id="icon_publish_date_to"><i class="icon-calendar"></i></span>
        </span>
        {% } %}
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <div class="controls">
        <label class="control-label">タイトル<label>
        {% if(is_confirmed) { %}
        <div id="controls">{{title}}</div>
        {% } else { %}
          <input class="span7" type="text" name="title" value="{{title}}">
        {% } %}
        </div>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <div class="controls">
          <label class="control-label" for="textarea">記事</label>
          {% if(is_confirmed) { %}
          <div id="controles">{{article}}</div>
          {% } else { %}
          <textarea class="span7 input-xlarge" id="textarea" name='article' rows="5">{{article}}</textarea>
          {% } %}
        </div>
      </div>
    </div>


    <div class="control-group">
      <div class="controls" style="text-align:right">
        {% if(is_confirmed) { %}
          {% if(is_new) { %}
          <button id="create" class="btn">登録</button>
          {% } else { %}
          <button id="update" class="btn">更新</button>
          {% } %}
        {% } else { %}
        <button id="confirm" class="btn">確認</button>
        {% } %}
      </div>
    </div>
  </div>
</form>
</script>
</div>
