<% content_for :javascript_link_tags do %>
<%= javascript_include_tag ['/assets/admin/collections/detail_collection.js',
                            '/assets/admin/views/detail_view.js',
                            '/assets/admin/controllers/notifications/detail_controller.js'
] %>
<% end %>

<% content_for :stylesheet_link_tags do %>
<% end %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2"></div>
    <div class="span8">
      <div id="content"></div>
      <script type="text/template" id="detailNotification">
      <div class="control-group">
      <div class="controls">
      <ul class="breadcrumb">
        <li><a href="/">ホーム</a> <span class="divider">/</span></li>
        <li><a href="/notifications">お知らせ</a> <span class="divider">/</span></li>
        <li class="active">ID: {{ id }}</li>
      </ul>
      </div>
      <form class="form-detail form-horizontal form-horizontal-fix">
      <div class="control-group">
        <legend>お知らせ</legend>
      </div>
      <div class="control-group">
        <label class="control-label">対象:</label>
        <div class="controls">
          <p>全ユーザー</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">掲載期間:</label>
        <div class="controls">
          <p>{{ publish_date_from }} ~ {{ publish_date_to }}</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">タイトル:</label>
        <div class="controls">
          <p>{{ title }}</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">記事:</label>
        <div class="controls"><p>{{ article }}</p>
        </div>
      </div>
      </form>
    </div>
    </script>
    <div class="span2"></div>
</div><!-- row-fluid -->
