<% content_for :javascript do %>
<%= javascript_include_tag 'dcmgr_gui/security_group_panel.js' %>
<script type="text/javascript">
jQuery(function($){
	dcmgrGUI.securityGroupPanel();
});
</script>

<% end %>

<% content_for :stylesheet do %>
<style type="text/css">
	.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { text-align:center; float: none;}
	.ui-dialog .ui-dialog-content {margin:5px;}
</style>
<% end %>

<div id="mainarea_wide">
	<h3><img src="images/icon_resource.gif" />Security Groups<a href="javascript:void(0);" class="showhide"></a></h3>
 <div class="maincontent">
		<div class="controller clearfix">
		  <a href="javascript:void(0);" class="create_security_group">Create Security Group</a>
			<a href="javascript:void(0);" class="delete_security_group" >Delete</a>
			<a href="javascript:void(0);" class="refresh" style="margin-left:344px">Refresh</a>
		</div>
		<div class="controller clearfix">
			<div class="l_float">
				<span class="text">Viewing:</span>
				<select class="select" style="width:130px">
					<option>All Security Groups</option>
				</select>
				<input type="text" class="search" />
			</div>
     <div id="pagenate" class="r_float">
			  <a href="javascript:void(0);" class="prev"></a>
				<p id="viewPagenate">Items</p>
			  <a href="javascript:void(0);" class="next"></a>
     </div>
		</div>
		<div id="display_volumes" class="display_area">
			<% content_for :javascript_template do %>
			<script id="securityGroupsListTemplate" type="text/x-jquery-tmpl">
			<table class="ptn01" frame="void" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<th></th>
					<th>Name</th>
					<th>Description</th>
				</tr>
				{{each(index,item) rows}}
			   <tr>
			    {{if item.group_id }}
						<td style="width:5px"><input type="checkbox" value="${item.group_id}" > </td>
					{{else}}
						<td><input type="checkbox"> </td>
					{{/if}}
					<td class="vtip" title="name" style="width:100px">${item.name}</td>
					<td class="vtip" title="description" style="width:500px">${item.description}</td>
				</tr>
				{{/each}}
			</table>
			</script>
			<% end %>
		</div>
	</div>
	<div id="btm_maincontent_wide"></div>
	<h3><img src="images/icon_resource.gif" />Details<a href="javascript:void(0);" class="showhide"></a></h3>
 		<div id="detail" class="maincontent">
 			<% content_for :javascript_template do %>
			<script id="securityGroupsDetailTemplate" type="text/x-jquery-tmpl">
			<div id="${item.group_id}" class="display_area">
				<table class="ptn07" frame="void" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td class="padcell"></td>
						<td class="title">Name:</td>
						<td>${item.name}</td>
					</tr>
					<tr>
						<td class="padcell"></td>
						<td class="title">Description:</td>
						<td>${item.description}</td>
					</tr>
					<tr>
						<td class="padcell"></td>
						<td colspan="2">
						<textarea id="config_${item.group_id}" rows="10" cols="10" style="width:630px;height:150px">${item.config}</textarea><br />
						<a href="javascript:void(0);" id="update_${item.group_id}">Update</a>
						</td>
					</tr>
				</table>
				<br />
			</div>
			</script>
			<% end %>
 		</div><!-- maincontent -->
	<div id="btm_maincontent_wide_last"></div>
</div><!-- mainarea_wide -->