<% content_for :javascript_link_tags do %>
<%= javascript_include_tag ['/assets/admin/models/dcmgr.js',
                            '/assets/admin/collections/detail_collection.js',
                            '/assets/admin/views/detail_view.js',
                            '/assets/admin/controllers/key_pairs/detail_controller.js'
] %>
<% end %>

<% content_for :stylesheet_link_tags do %>
<% end %>
<div class="span8">
  <div id="content"></div>
  <script type="text/template" id="detailKeypair">
  <div class="control-group">
    <div class="controls">
      <ul class="breadcrumb">
        <li><a href="/">ホーム</a> <span class="divider">/</span></li>
        <li class="active">キーペア<span class="divider">/</span></li>
        <li class="active">ID: {{ uuid }}</li>
      </ul>
    </div>
    <form class="form-detail form-horizontal form-horizontal-fix">
    <div class="control-group">
      <legend>キーペア詳細</legend>
    </div>
    <div class="control-group">
      <label class="control-label">キーペアID:</label>
      <div class="controls">
        <p>{{ uuid }}</p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">キーペア名:</label>
      <div class="controls">
        <p>{{ display_name }}</p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">説明:</label>
      <div class="controls">
        <p>{{ description }}</p>
      </div>
    </div>
     <div class="control-group">
      <label class="control-label">作成日時:</label>
      <div class="controls">
        <p>{{ created_at }}</p>
      </div>
    </div>
     <div class="control-group">
      <label class="control-label">更新日時:</label>
      <div class="controls">
        <p>{{ updated_at }}</p>
      </div>
    </div>
    </form>
  </div>
  </script>
</div>
