<div class="span9">
  <div id="user_search"></div>
  <hr>
  <div id="user_list"></div>
</div>

<script type="text/x-handlebars" data-template-name="user_search">
</script>

<script type="text/x-handlebars" data-template-name="user_list">
  <table id="user-list" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ユーザーID</th>
      <th>ユーザー名</th>
      <th>ログインID</th>
      <th>アカウントID</th>
      <th>最終ログイン日時</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
    {{#each content}}
    <tr>
      <td>u-xxxxxxx</td>
      <td>user</td>
      <td>loginid</td>
      <td>a-xxxxxx</td>
      <td>2012/12/01 00:00:00</td>
      <td><a href="#">インスタンス情報</a></td>
      <td><a href="#">ユーザー画面</a></td>
    </tr>
    {{/each}}
  </table>
  </tbody>

<div class="pagination pagination-centered">
  <ul>
    <li><a href="#">前へ</a></li>
    <li class="active">
      <a href="#">1</a>
    </li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
    <li><a href="#">7</a></li>
    <li><a href="#">8</a></li>
    <li><a href="#">9</a></li>
    <li class="disabled"><a href="#">...</a></li>
    <li><a href="#">11</a></li>
    <li><a href="#">次へ</a></li>
  </ul>
</div>
</script>
