<div id="attach_volume_dialog">
<p><%= t("dialog.attach_volume.instance_id") %>: <input id="instance_id" type="text" value=""></p>
<br />
<ul id="attach_volumes">
  <% @volume_ids.each do |volume_id| %>
    <li><%= volume_id %></li>
  <% end %>
</ul>
</div>
