<div id="attach_volume_dialog">
  <table>
    <tr>
      <td>Volume ID:</td>
      <td id="view_volume_id"><%= @volume_id %></td>
      <input id="volume_id" type="hidden" value="<%= @volume_id %>">
    </tr>
    <tr>
      <td>Instance ID:</td>
      <td><input id="instance_id" type="text" value=""></td>
    </tr>
  </table>
</div>
