<style type="text/css">
	table td {
		padding-top :10px;
	}
</style>
<div id="create_security_group_dialog">
	<table>
		<tr>
			<td>Name:</td>
			<td><input type="text" id="security_group_name"></td>
		</tr>
		<tr>
			<td>Description:</td>
			<td><input type="text" id="security_group_description"></td>
		</tr>
		<tr>
			<td>Rule:</td>
		</tr>
		<tr>
			<td colspan="2">
				<textarea id="security_group_rule" rows="10" cols="10" style="width:340px;height:250px"></textarea></td>
		</tr>
	</table>
</div>
<script type="text/javascript">
jQuery(function($){
	$('#security_group_name').focus();
	
	var comment_rule = ""
  + "# Format\n"
  + "# Protocol,From Port,To Port,IP\n"
  + "#\n"
  + "# Exmaple:\n"
  + "# tcp:22,22,0.0.0.0\n"
	+ "# tcp:80,80,0.0.0.0\n"
	+ "# udp:53,53,0.0.0.0\n"
	+ "# icmp:-1,-1,0.0.0.0\n";
	$('#security_group_rule').html(comment_rule);
});
</script>