<div id="create_volume_dialog">
	<table>
		<tr>
			<td>Volume:</td>
			<td>
				<select>
					<option value="1">vol-4a005923</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				Description:
			</td>
			<td>
				<input type="text">
			</td>
		</tr>
	</table>
</div>