<p><%= t("dialog.create_volume_from_snapshot.message") %></p>
<br />
<ul id="create_volumes">
        <% @snapshot_ids.each do |snapshot_id| %>
                <li><%= snapshot_id %></li>
        <% end %>
</ul>
