<div id="create_volume_dialog">
	<table>
		<tr>
			<td>Size:</td>
			<td>
				<input id="volume_size" type="text" name="size" size="2" maxlength="3">
				<select id="unit">
					<option value="gb">GB</option>
					<option value="tb">TB</option>
				</select>
			</td>
		</tr>
	</table>
</div>