<div id="create_volume_dialog">
	<table>
		<tr>
			<td>Size:</td>
			<td>
				<input type="text" name="size" size="2" maxlength="3">
				<select id="create_volume_size">
					<option value="1">GiB</option>
					<option value="2">TiB</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Snapshot:</td>
			<td>
				<select id="create_volume_snapshot">
					<option value="1"> --- No Snapshot --- </option>
				</select>
			</td>
		</tr>
	</table>
</div>