<div id="create_ssh_keypair_dialog">
	<table>
		<tr>
			<td><%= t("dialog.create_ssh_keypair.keypair_name")%>:</td>
			<td>
				<input id="ssh_keypair_name" type="text" name="name" >
			</td>
		<tr>
			<td><%= t("dialog.create_ssh_keypair.download_once")%>: </td>
			<td>
				<input id="ssh_keypair_download_once" type="checkbox" name="download_once" checked>
			</td>
		</tr>
	</table>
</div>