<style type="text/css">
	table td {
		padding-top :10px;
		padding-left :5px;
	}
</style>
<div id="create_security_group_dialog">
	<table>
		<tr>
			<td>Name:</td>
			<td><input type="text" id="security_group_name" size="20"></td>
		</tr>
		<tr>
			<td>Description:</td>
			<td><input type="text" id="security_group_description" size="43"></td>
		</tr>
		<tr>
			<td>Rule:</td>
		</tr>
		<tr>
			<td colspan="2">
				<textarea id="security_group_rule" rows="10" cols="10" style="width:442px;height:320px"></textarea></td>
		</tr>
	</table>
</div>