<div id="create_ssh_keypair_dialog">
	<table>
		<tr>
			<td>Key Pair Name:</td>
			<td>
				<input id="ssh_keypair_name" type="text" name="name" >
			</td>
		<tr>
			<td>Download Once: </td>
			<td>
				<input id="ssh_keypair_download_once" type="checkbox" name="download_once" checked>
			</td>
		</tr>
	</table>
</div>