<div id="create_backup_dialog">
<p><%= t("dialog.create_backup.message") %></p>
<br />
<% form_tag :action => "create_backup" do %>
<table>
  <tr>
    <td><%= t("dialog.create_backup.display_name")%>: </td>
    <td><input id="backup_display_name" type="text" value=""></td>
  </tr>
</table>
<br />
store to:&nbsp;  
<span id="select_destination">
</span>
<ul id="create_backups">
  <% @volume_ids.each do |volume_id| %>
    <li><%= volume_id %></li>
  <% end %>
</ul>
<% end %>
</div>
