<p><%= t("dialog.delete_snapshot.message") %></p>
<br />
<ul id="delete_snapshots">
        <% @snapshot_ids.each do |snapshot_id| %>
                <li><%= snapshot_id %></li>
        <% end %>
</ul>
