<p>Are you sure you want to detach the following volume?</p>
<br />
<ul id="detach_volumes">
        <% @volume_ids.each do |volume_id| %>
                <li><%= volume_id %></li>
        <% end %>
</ul>
