<div id="instance_dialog">
	<table>
		<tr>
			<td>WMI ID:</td><td>
				<%unless @image_id.nil? %>
					<%= @image_id %>
				<% else %>
					<input type="text" size="50" value="aki-00806369">
				<% end %>
				</td>
		</tr>
		<tr>
			<td>WMI Tag:</td><td><input type="text" size="50"></td>
		</tr>
		<tr>
			<td>WMI Manifest:</td><td><input type="text" size="50" value="ubuntu-kernel-2.6.31-300-ec2-i386-20091001-test-04.manifest.xml"></td>
		</tr>
		<tr>
			<td>AKI ID:</td>
			<td>
				<select>
					<option value="0"></option>
					<option value="1">aki-00806369</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>ARI ID:</td><td>
			<select>
				<option value="0"></option>
				<option value="1">ari-024aa86b</option>
			</select>
			</td>
		</tr>
		<tr>
			<td>Instance Type:</td>
			<td>
				<select>
					<option value="1">m1.small</option>
					<option value="2">m1.medium</option>
					<option value="3">m1.large</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Number of instances:</td>
			<td>Min:<input type="text" size="10"> Max:<input type="text" size="10"></td>
		</tr>
		<tr>
			<td>New Instance(s) Tag:</td>
			<td><input type="text" size="50"></td>
		</tr>
		<tr>
			<td>Availability Zone:</td>
			<td>
				<select>
					<option value="1">any</option>
					<option value="1">us-east-1a(available)</option>
					<option value="1">us-east-1b(available)</option>
					<option value="1">us-east-1c(available)</option>
					<option value="1">us-east-1d(available)</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>KeyPair:</td>
			<td>
				<select>
					<option value="0">&lt;none&gt;</option>
					<option value="1">ec2-key-pair</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Additional Info:</td><td><input type="text" size="50" value=""></td>
		</tr>
		<tr>
			<td colspan="2">
				<fieldset>
				<legend>Virtual Private Cloud</legend>
				<table>
					<tr>
						<td>Launch in VPC:</td><td><input type="checkbox" id="launch_vpc"></td>
					</tr>
					<tr>
						<td>VPC:</td>
						<td>
							<select id="select_vpc" style="width:300px" disabled>
								<option value="1"></option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Subnet:</td>
						<td>
							<select id="select_vpc" style="width:300px" disabled>
								<option value="1"></option>
							</select>
						</td>
					</tr>
					<tr>
						<td>IP Address:</td>
						<td>
							<input type="text" size="40">
						</td>
					</tr>

				</table>
				</fieldset>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align:center" class="userdata">
				<fieldset>
				<legend>User Data</legend>
				<textarea cols="50" rows="2">
				</textarea>
				<div id="userdata_button" style="text-align:right">
				<input type="button" value="Open File">
				<input type="button" value="Open Binary File">
				</div>
				</fieldset>
			</td>
		</tr>
	</table>
</div>