<div id="instance_dialog">
	<table>
		<tr>
			<td>WMI ID:</td><td id="image_id"><%= @image_id %></td>
		</tr>
		<tr>
			<td>HostPool ID:</td><td id="host_pool_id">hp-hb4f6f84</td>
		</tr>
		<tr>
			<td>Instance Spec:</td><td id="instance_spec">is-kpf0pasc</td>
		</tr>
	</table>
</div>