<div id="launch_instance_dialog">
	<table>
		<tr>
			<td>WMI ID:</td>
			<td id="view_image_id"><%= @image_id %></td>
			<input id="image_id" type="hidden" value="<%= @image_id %>">
		</tr>
		<tr>
			<td>Host:</td>
			<td>
			<select name="hostpool_id">
				<option value="shared">shared
			</select>
			<input id="host_pool_id" type="hidden" value="hp-hb4f6f84">
			</td>
		</tr>
		<tr>
			<td>Instance Spec:</td>
			<td>
			<select name="instance_spec">
				<option value="m1.small">m1.small
			</select>
			<input id="instance_spec" type="hidden" value="is-kpf0pasc">
			</td>
		</tr>
		<tr>
			<td>Security Group:</td>
			<td>
			</td>
		</tr>
	</table>
	
	<table cellpadding="5" cellspacing="5">
	<tbody>
	<tr>
	    <td>
	        <select id="left_select_list" size="5" multiple="multiple" name="left_select_list">
	        </select>
	    </td>
	    <td>
	        <select id="right_select_list" size="5" multiple="multiple" name="right_select_list">
	        </select>
	    </td>
	</tr>
	<tr>
		<td><button id="right_button">Move right</button></td>
		<td><button id="left_button">Move left</button></td>
	</tr>		
	</tbody>
	</table>
</div>